* {
  box-sizing: border-box;
}

.panel {
  margin: 10px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 6px;
  max-width: 640px;

  &.fluid {
    max-width: unset;
  }
}


.tracking-status-steps {
  >div {
    .line {
      position: relative;
      left: 9px;
      width: 2px;
      height: 30px;
      border-left: 2px dashed gray;
    }

    .circle {
      position: relative;
      background-color: gray;
      width: 20px;
      height: 20px;
      border-radius: 100%;

      .text {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 300px;
        padding-left: 30px;
      }
    }

    &:first-child {
      .line {
        display: none;
      }
    }

    &.yes {
      .line {
        border-left: 2px solid green;
      }

      .circle {
        background-color: green;
      }
    }

  }

}

table.packages-table {
  border: 1px solid black;
  border-spacing: 0px;
  border-collapse: collapse;

  th,
  td {
    padding: 0px 5px;
    border: 1px solid black;
  }

}

.tracking-history-steps {
  .step {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;


    .timeline {
      position: relative;
      padding: 0 10px;

      .line-1 {
        position: relative;
        top: 0px;
        left: 3px;
        display: block;
        width: 2px;
        height: 4px;
        background-color: black;
      }

      .circle {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        border: 2px solid black;
        background-color: white;
      }

      .line-2 {
        position: relative;
        top: 0px;
        left: 3px;
        display: block;
        width: 2px;
        height: calc(100% - 12px);
        background-color: black;
      }
    }

    &:first-child {
      .line-1 {
        background-color: transparent;
      }
    }
    &:last-child {
      .line-2 {
        background-color: transparent;
      }
    }
  }
}